body {
    background-color: #F28585;
    display: flex;   
    justify-content: center;   
    align-items: center;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.centerbox {
    display: flex;
    justify-content: center;
}

.buttonbox {
    display: flex;
    justify-content: center; 
}

#move {
    position: absolute;
    transition: 0.1s;
    transform: translate(-50%, -50%);
}

.pinguin {
    width: 50%;
    height: auto;
}

button {
    position: absolute;
}

.btn{
    font-weight: 600;
    color: #040408;
    background-color: #FF407D;
    padding: 10px 30px;
    border-width: 2px;
    border-color: #040408;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 14px;
    cursor: pointer;
}

.btn:hover{
    background-color: #FB88B4;
    color: #040408;
}